@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

/* Tailwind config, see https://tailwindcss.com/docs/theme */
@theme {
  /* Breakpoints */
  --breakpoint-mobile: 320px;
  --breakpoint-mobile-lg: 375px;
  --breakpoint-tablet: 425px;
  --breakpoint-tablet-md: 600px;
  --breakpoint-tablet-lg: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-laptop-lg: 1366px;
  --breakpoint-desktop: 1440px;

  --font-mono: "Space Mono", monospace;
}

/* Applies on all tags. Don't put Tailwind classes here, only raw CSS. */
* {
  outline: none;
}

/* Globals tags */
body {
  @apply bg-neutral-900 text-neutral-300;
}

/* 
  Root:
    #root takes all the actual screen size on the webpage.
*/
#root {
  @apply relative h-screen w-full overflow-hidden;
}

header,
footer,
section,
main,
nav,
div,
form,
button {
  @apply relative flex flex-col;
}

button {
  @apply cursor-pointer;
}

p {
  @apply whitespace-pre-wrap;
}

/* Scrollbar Options */

/* Scroll width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.55rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  padding-right: 12px;
  width: 12px;
  background-color: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  width: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
